@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Noto+Serif+Khitan+Small+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*   font-family: "Playfair Display", serif; */

.About-container{
    display: flex;
    animation: autoShown 1.5s both;
    animation-timeline: view(60% auto);


    
}

.About-container h1{
    /* font-family: "Playfair Display", serif; */
  font-family: "Noto Serif Khitan Small Script", serif;
    font-size: 10rem;
    margin: 1.5rem;
    letter-spacing: 1.5rem;
    position: relative;
}
.About-container p{
    /* font-family: "Playfair Display", serif; */
  font-family: "Noto Serif Khitan Small Script", serif;
    font-size: 3rem;
    position: relative;
    top: 20rem;

}