body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.939);
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

body::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* animation: bgcolor 1.3s  ease-in-out infinite; */
   
    
}

@keyframes bgcolor {
    0%{
        filter: hue-rotate(0deg) blur(100px);
    }
    100%{
        filter: hue-rotate(360deg) blur(0px);
    }

    
}



.curser{
    position: fixed;
    z-index: 999;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    pointer-events: none;
    box-shadow: 0 0 20px red,
                0 0 60px red,
                0 0 100px red;
    animation: colors 5s infinite;
    transform: translate(50px 50px);
  

}

@keyframes colors {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    
}

.curser::before{
    content: "";
    position: fixed;
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: .2;
    transform: translate(-15px, -15px);


}


/* source code */

